In [4]:
import sqlite3
import pandas as pd

class DatabaseManager:
    def __init__(self, db_path='real_estate_onboarding.db'):
        """Initialize the database connection."""
        self.conn = sqlite3.connect(db_path)
        self.cursor = self.conn.cursor()
        self.create_table()


    def perform_query(self, query):
        """Create the onboarding table if it does not exist."""
        self.cursor.execute(query)
        self.conn.commit()

    def create_table(self):
        """Create the onboarding table if it does not exist."""
        self.perform_query("""
            CREATE TABLE IF NOT EXISTS onboarding (
                name TEXT,
                email TEXT,
                contact_number TEXT,
                address TEXT,
                ssn TEXT,
                file_path TEXT
            );
        """)
        self.conn.commit()

    def add_record(self, name, email, contact_number, address, ssn, file_path):
        """Add a new record to the onboarding table."""
        sql = '''
        INSERT INTO onboarding (name, email, contact_number, address, ssn, file_path)
        VALUES (?, ?, ?, ?, ?, ?);
        '''
        self.cursor.execute(sql, (name, email, contact_number, address, ssn, file_path))
        self.conn.commit()

    def fetch_all_records(self):
        """Fetch all records from the onboarding table."""
        query = "SELECT * FROM onboarding;"
        df = pd.read_sql_query(query, self.conn)
        return df
        self.perform_query("SELECT * FROM onboarding;")
        return self.cursor.fetchall()

    def close(self):
        """Close the cursor and the database connection."""
        self.cursor.close()
        self.conn.close()

In [3]:
# Example usage
db_manager = DatabaseManager()
db_manager.add_record('John Doe', 'john.doe@example.com', '1234567890', '1234 Elm Street', '123-45-6789', '/path/to/document.pdf')
rows = db_manager.fetch_all_records()
print(rows)
for row in rows:
    print(row)

db_manager.close()

        name                 email contact_number          address  \
0   John Doe  john.doe@example.com     1234567890  1234 Elm Street
1   John Doe  john.doe@example.com     1234567890  1234 Elm Street
2   John Doe  john.doe@example.com     1234567890  1234 Elm Street
3   John Doe  john.doe@example.com     1234567890  1234 Elm Street
4   John Doe  john.doe@example.com     1234567890  1234 Elm Street
5   John Doe  john.doe@example.com     1234567890  1234 Elm Street
6   John Doe  john.doe@example.com     1234567890  1234 Elm Street
7   John Doe  john.doe@example.com     1234567890  1234 Elm Street
8   John Doe  john.doe@example.com     1234567890  1234 Elm Street
9   John Doe  john.doe@example.com     1234567890  1234 Elm Street
10      adsc                  asdc           sadc             asdc
11  John Doe  john.doe@example.com     1234567890  1234 Elm Street

            ssn                                          file_path
0   123-45-6789                              /path/to/document.pdf
1   123-45-6789                              /path/to/document.pdf
2   123-45-6789                              /path/to/document.pdf
3   123-45-6789                              /path/to/document.pdf
4   123-45-6789                              /path/to/document.pdf
5   123-45-6789                              /path/to/document.pdf
6   123-45-6789                              /path/to/document.pdf
7   123-45-6789                              /path/to/document.pdf
8   123-45-6789                              /path/to/document.pdf
9   123-45-6789                              /path/to/document.pdf
10         ascd  output_files/39db9b6d-b48e-40ca-aa6c-3dabab71f294
11  123-45-6789                              /path/to/document.pdf
name
email
contact_number
address
ssn
file_path

In [5]:
db_manager = DatabaseManager('real_estate_onboarding.db')
print(db_manager.fetch_all_records())
db_manager.close()

Empty DataFrame
Columns: [name, email, contact_number, address, ssn, file_path]
Index: []